.modal-add, .modal-edit, .modal-import {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;

  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.3);
    z-index: 1000;
  }
}

.modal-add-content, .modal-edit-content, .modal-import-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 440px;
  height: auto;
  padding: 17px 40px;
  background: white;
  border-radius: 10px;

  p {
    font-size: 18px;
    font-weight: 600;
    color: rgb(38, 57, 104);
    text-align: center;
    margin: 20px;
  }

  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  input {
    text-align: center;
    width: 250px;
    height: 25px;
    border: 1px solid rgb(38, 57, 104);
    border-radius: 3px;
    background: rgb(244, 244, 244);
  }

  .buttons {
    margin-top: 20px;
    margin-bottom: 15px;

    button {
      width: 125px;
      font-weight: 600;
      letter-spacing: 1px;
      border: none;
      color: rgb(38, 57, 104);
      background: rgb(254, 254, 254);

      &[type=submit] {
        text-align: start;
      }
      &[type=button] {
        text-align: end;
      }
    }
  }

  .input {
    display: flex;
    justify-content: center;
  }

  #import {
    height: auto;
    padding: 10px;
  }

  .warning {
    display: flex;
    justify-content: center;
  
    height: 15px;
    font-size: 10px;
    color: red;
  }
}