.modal-import {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;

  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.3);
    z-index: 1000;
  }
}

.modal-import-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 440px;
  height: auto;
  padding: 40px 40px;
  background: white;
  border-radius: 10px;
}

.warning {
  display: flex;
  justify-content: center;
  
  height: 20px;
  font-size: 12px;
  color: red;
}